<ion-header>
  <ion-navbar color="primary">

    <ion-title text-center>
      Mis Contactos
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-searchbar
  [(ngModel)]="searchInput"
  [showCancelButton]="shouldShowCancel"
  [formControl]="searchControl"
  (ionInput)="onSearchInput()">
</ion-searchbar>

<div *ngIf="searching" class="spinner-container" text-center>
        <ion-spinner></ion-spinner>
</div>

   <ion-list>
     <ion-card *ngFor="let contact of contacts" (click)="editContact(contact)">
         <ion-item>
           <ion-avatar item-start>
             <img src="../../assets/imgs/default-user.png">
           </ion-avatar>
           <h2>{{contact.getName()}} <h2 style="float: right" name="add">{{contact.getTypeInitial()}}</h2></h2>
           <p>{{contact.getFirstNumber()}}</p>
         </ion-item>
     </ion-card>
  </ion-list>

  <!-- <button ion-fab color="secondary" (click)="addContact()"><ion-icon name="add"></ion-icon></button> -->


  <ion-fab bottom right >
     <button ion-fab color="primary" (click)="addContact()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
